body {
    margin: 20px;
    background: #A1DFF8;
    text-align: center;
    overflow: hidden;
}

/*=============================================
=       Zero state balloon comment block      =
=============================================*/

[encryption="flying"] {
    display: block;
    position: absolute;
    opacity: 0.6;
    top: 54%;
    left: 51.5%;
    z-index: 20;
    transform: translate(-50%, -50%);
    perspective-origin: 50% 100%;
    perspective: calc(14rem * .5);
}


[trigger="animation"] > section:nth-of-type(3) > [object="balloon"] {
    position: relative;
    z-index: 3;
    display: block;
    width: 12rem;
    height: calc(12rem * 1.050);
    background: #FAEDB4;
    border-radius: 14rem;
}

[trigger="animation"] > section:nth-of-type(3) > [object="balloon"]::before,
[trigger="animation"] > section:nth-of-type(3) > [object="balloon"]::after {
    position: absolute;
    display: block;
    content: '';
}

[trigger="animation"] > section:nth-of-type(3) > [object="balloon"]::after {
    top: 2%;
    left: 50%;
    width: 38%;
    height: 90%;
    background-color: #F2F5BD;
    transform: translateX(-50%);
    border-radius: 50%;
}

[trigger="animation"] > section:nth-of-type(3) > [object="balloon"]::before {
    top: 23%;
    left: -26%;
    width: calc(12rem + 100px);
    height: calc(12rem * 1.45);
    border-radius: calc(12rem / 4);
    background-image: linear-gradient(
    to right,
    #FAEDB4 0%,
    #FAEDB4 35%,
    #F2F5BD 35%,
    #F2F5BD 65%,
    #FAEDB4 50%,
    #FAEDB4 100%
    );
    transform: translateZ(calc(14rem * -.80)) rotateX(-50deg);
}




/*----------  Light animation comment block  ----------*/





[trigger="animation"] > section:nth-of-type(3) > article {
    position: absolute;
    z-index: 21;
    opacity: 0;
    top: 105%;
    left: 50%;
  }
  
[trigger="animation"] >  section:nth-of-type(3) > article > .flame{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform-origin:center bottom;
    bottom: 0px;
  }
  
[trigger="animation"] > section:nth-of-type(3) > article > .yellow{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    transform:rotate(-45deg) scale(1.5,1.5);
    background:gold;
  }
  
[trigger="animation"] >  section:nth-of-type(3) > article > .orange{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    transform:rotate(-45deg) scale(1.5,1.5);
    background:orange;
  }
  
[trigger="animation"] > section:nth-of-type(3) > article > .red{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    transform:rotate(-45deg) scale(1.5,1.5);
    background:OrangeRed;
  }



/*=====  End of Section comment block  ======*/





/*=============================================
=            zero state comment block         =
=============================================*/

[trigger="animation"] > section:nth-of-type(4) > div {
    position: absolute;
    left: -5%;
    bottom: 0;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);
    width: 110%;
    height: 8.5em;
    background-color: #83C54A;
}   

[trigger="animation"] > section:nth-of-type(4) > div::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-top-right-radius: 100%;
    box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);
    width: 60%;
    height: 15em;
    z-index: -2;
    background-color: #6ABE45;
}

[trigger="animation"] > section:nth-of-type(4) > div::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    box-shadow: -2px -2px 10px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 100%;
    width: 80%;
    height: 16em;
    z-index: -2;
    background-color: #48B847;
}

[trigger="animation"] > section:nth-of-type(4) > img {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    left: 56.4%;
    width: auto;
    height: 44%;
}





/*----------  Balloon without light comment block  ----------*/


input {
    display: none
}

label {
    width: 100px;
    height: 100px;
}

input:checked + label > [encryption="flying"] {
    opacity: 1;
    top: 43%;
    left: 50%;
    animation: balloonBounce 3s infinite;
    transition: ease-in 2s;
}

input:checked + label > section > [object="balloon"] {
    box-shadow: 0 0 40px 40px #fff, 0 0 100px 50px #0ff;
    transition: ease-in 2s;
}

/*----------  Light animation comment block  ----------*/


input:checked + label > section:nth-of-type(3) > article {
    animation: flicker 3ms infinite alternate;
    transition: ease-in 2s;
    opacity: 0.5;
  }


/*=====  End of zero state comment block  ======*/





/*=============================================
=            Animating Clouds                 =
=============================================*/

main > section:nth-of-type(1) {
    position: absolute;
    z-index: -3;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 8rem;
    animation: cloudsSlideDown 5s linear infinite;
}

main > section:nth-of-type(1) > div {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 50%;
}

main > section:nth-of-type(1) div:nth-child(5n + 1){
    transform: translateX(-120%);
    margin-top: calc(8rem * 7);
}

main > section:nth-of-type(1) div:nth-child(5n + 2){
    transform: translate(-350%, 20%) scale(0.5)
}

main > section:nth-of-type(1) div:nth-child(5n + 3){
    transform: translate(250%, 20%) scale(0.8)
}

main > section:nth-of-type(1) div:nth-child(5n + 4){
    transform: translate(-250%, 40%) scale(1.2)
}

main > section:nth-of-type(1) div:nth-child(5n + 5){
    transform: translate(190%, 120%) scale(0.6)
}

main > section:nth-of-type(1) > div::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 8rem;
    height: calc(8rem * .5);
    background-color: #fff;
    border-radius: 8rem;
    transform: translateX(23%);
    content: '';
}

main > section:nth-of-type(1) > div::before {
    position: absolute;
    bottom: 0;
    display: block;
    width: 8rem;
    height: calc(8rem * .6);
    background-color: #fff;
    border-radius: 8rem;
    transform: translateX(-30%);
    content: '';
}





/*----------  Animating Clouds #2 comment block  ----------*/






main > section:nth-of-type(2) {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: -3;
    transform: translate(-50%, -0%);
    width: 8rem;
    animation: cloudsSlideDown 5s 2.8s linear infinite;
}

main > section:nth-of-type(2) > div {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 50%;
}

main > section:nth-of-type(2) > div:nth-child(5n + 1){
    transform: translateX(-120%);
    margin-top: calc(8rem * 7);
}

main > section:nth-of-type(2) > div:nth-child(5n + 2){
    transform: translate(-350%, 20%) scale(0.5)
}

main > section:nth-of-type(2) > div:nth-child(5n + 3){
    transform: translate(350%, 20%) scale(0.8)
}

main > section:nth-of-type(2) > div:nth-child(5n + 4){
    transform: translate(-250%, 40%) scale(1.2)
}
    
main > section:nth-of-type(2) > div:nth-child(5n + 5){
    transform: translate(90%, 120%) scale(0.6)
}

main > section:nth-of-type(2) > div::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 8rem;
    height: calc(8rem * .5);
    background-color: #fff;
    border-radius: 8rem;
    transform: translateX(23%);
    content: '';
}

main > section:nth-of-type(2) > div::before {
    position: absolute;
    bottom: 0;
    display: block;
    width: 8rem;
    height: calc(8rem * .6);
    background-color: #fff;
    border-radius: 8rem;
    transform: translateX(-30%);
    content: '';
}

/*=====  End of Section comment block  ======*/







/*=============================================
=            Animations comment block            =
=============================================*/

@keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
}

@keyframes cloudsSlideDown {
    0% {
      transform: translate(-50%, -110%)
    }
    100% {
      transform: translate(-50%, -10%)
    }
}

  @keyframes balloonBounce {
    0% {
      transform: translate(-50%, -50%)
    }
    50% {
      transform: translate(-50%, -60%)
    }
    100% {
      transform: translate(-50%, -50%)
    }
}

/*=====  End of Section comment block  ======*/






