:root {
    --color-bg: #A1DFF8;
    --color-balloon: #FAEDB4;
    --color-balloon-inside: #F2F5BD;
    --color-cloud: #fff;
    --size-balloon: 14rem;
    --animation-speed: 5s;
    --size-cloud: 8rem;
}

body {
    margin: 20px;
    background: var(--color-bg);
    text-align: center;
    overflow: hidden;
}

/* Creating and animating the Clouds #1*/

section:nth-of-type(1) {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: var(--size-cloud);
    animation: cloudsSlideDown var(--animation-speed) linear infinite;
}

section:nth-of-type(1) > div {
    position: relative;
    display: block;
    width: var(--size-cloud);
    height: var(--size-cloud);
    margin: 1rem;
    background-color: var(--color-cloud);
    border-radius: 50%;
}

section:nth-of-type(1) div:nth-child(5n + 1){
    transform: translateX(-120%);
    margin-top: calc(var(--size-cloud) * 7);
}

section:nth-of-type(1) div:nth-child(5n + 2){
    transform: translate(-350%, 20%) scale(0.5)
}

section:nth-of-type(1) div:nth-child(5n + 3){
    transform: translate(250%, 20%) scale(0.8)
}

section:nth-of-type(1) div:nth-child(5n + 4){
    transform: translate(-250%, 40%) scale(1.2)
}

section:nth-of-type(1) div:nth-child(5n + 5){
    transform: translate(190%, 120%) scale(0.6)
}

section:nth-of-type(1) > div::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: var(--size-cloud);
    height: calc(var(--size-cloud) * .5);
    background-color: var(--color-cloud);
    border-radius: var(--size-cloud);
    transform: translateX(23%);
    content: '';
}

section:nth-of-type(1) > div::before {
    position: absolute;
    bottom: 0;
    display: block;
    width: var(--size-cloud);
    height: calc(var(--size-cloud) * .6);
    background-color: var(--color-cloud);
    border-radius: var(--size-cloud);
    transform: translateX(-30%);
    content: '';
}

/* Creating and animating the Clouds #2 */

section:nth-of-type(2) {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
    width: var(--size-cloud);
    animation: cloudsSlideDown var(--animation-speed) 2.8s linear infinite;
}

section:nth-of-type(2) > div {
    position: relative;
    display: block;
    width: var(--size-cloud);
    height: var(--size-cloud);
    margin: 1rem;
    background-color: var(--color-cloud);
    border-radius: 50%;
}

section:nth-of-type(2) > div:nth-child(5n + 1){
    transform: translateX(-120%);
    margin-top: calc(var(--size-cloud) * 7);
}

section:nth-of-type(2) > div:nth-child(5n + 2){
    transform: translate(-350%, 20%) scale(0.5)
}

section:nth-of-type(2) > div:nth-child(5n + 3){
    transform: translate(350%, 20%) scale(0.8)
}

section:nth-of-type(2) > div:nth-child(5n + 4){
    transform: translate(-250%, 40%) scale(1.2)
}

section:nth-of-type(2) > div:nth-child(5n + 5){
    transform: translate(90%, 120%) scale(0.6)
}

section:nth-of-type(2) > div::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: var(--size-cloud);
    height: calc(var(--size-cloud) * .5);
    background-color: var(--color-cloud);
    border-radius: var(--size-cloud);
    transform: translateX(23%);
    content: '';
}

section:nth-of-type(2) > div::before {
    position: absolute;
    bottom: 0;
    display: block;
    width: var(--size-cloud);
    height: calc(var(--size-cloud) * .6);
    background-color: var(--color-cloud);
    border-radius: var(--size-cloud);
    transform: translateX(-30%);
    content: '';
}

/* Creating and animating the balloon */

section:nth-of-type(3) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: balloonBounce var(--animation-speed) infinite;
    perspective-origin: 50% 100%;
    perspective: calc(var(--size-balloon) * .5);
}


section:nth-of-type(3) > div {
    box-shadow: 0 0 40px 40px #fff, 0 0 100px 50px #0ff;
    position: relative;
    z-index: 4;
    display: block;
    width: var(--size-balloon);
    height: calc(var(--size-balloon) * 1.050);
    background: var(--color-balloon);
    border-radius: var(--size-balloon);
}

section:nth-of-type(3) > div::before, ::after {
    position: absolute;
    display: block;
    content: '';
}

section:nth-of-type(3) > div::after {
    top: 2%;
    left: 50%;
    width: 38%;
    height: 79%;
    background-color: var(--color-balloon-inside);
    transform: translateX(-50%);
    border-radius: 50%;
}

section:nth-of-type(3) > div::before {
    top: 28%;
    left: -22.2%;
    width: calc(var(--size-balloon) + 100px);
    height: calc(var(--size-balloon) * 1.45);
    border-radius: calc(var(--size-balloon) / 4);
    background: linear-gradient(
    to right,
    var(--color-balloon) 0%,
    var(--color-balloon) 35%,
    var(--color-balloon-inside) 35%,
    var(--color-balloon-inside) 65%,
    var(--color-balloon) 50%,
    var(--color-balloon) 100%
    );
    transform: translateZ(calc(var(--size-balloon) * -.80)) rotateX(-50deg);
}

/* Lights inside the wish balloon */

  article {
    animation: flicker 3ms ease-in infinite alternate;
    position: absolute;
    z-index: 4;
    opacity: 0.2;
    top: 105%;
    left: 50%;
  }
  
  .flame{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform-origin:center bottom;
    bottom: 0px;
  }
  
  .yellow{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    transform:rotate(-45deg) scale(1.5,1.5);
    background:gold;
  }
  
  .orange{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    transform:rotate(-45deg) scale(1.5,1.5);
    background:orange;
  }
  
  .red{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    transform:rotate(-45deg) scale(1.5,1.5);
    background:OrangeRed;
  }
  
/* Animations */

  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
}

@keyframes cloudsSlideDown {
    0% {
      transform: translate(-50%, -110%)
    }
    100% {
      transform: translate(-50%, -10%)
    }
}

  @keyframes balloonBounce {
    0% {
      transform: translate(-50%, -50%)
    }
    50% {
      transform: translate(-50%, -60%)
    }
    100% {
      transform: translate(-50%, -50%)
    }
}




